body { 
  background: #FFFAFA; 
  font-family:"Times New Roman", "Lucida Grande", Sans-Serif;
  text-align:center; 
}
header{
	background: #51645E;
	font-family: "Times New Roman", "Lucida Grande", Sans-Serif;
	font-size: 25px;
	height: 100px;
	color:white;
}
.logo{
	width: 15%; 
	height: 15%;
}

.Imm{
  margin: auto;
  max-width: 90%;
}
.Links{
	background:  #A4B5B2;
	border-radius: 2px;
}

nav {
  background-color:#51645E;
  text-align: center;
  border-radius: 2px;
  font-size: 25px;
  color:#6B513D;
}

a {
    text-decoration: none; 
    color: #19292C;
  } 
a:hover { 
    text-decoration: underline; 
    color: #19292C; 
  } 


table {
border-collapse: collapse;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;
border-spacing: 0;
width: 100%;

}


td {

 text-align: center;
  color:#546960;
}

td:first-child {
  font-weight: bold;
}

tr:nth-child(even) {
    background:#F8F8FF;
}

tr:nth-child(odd) {
    background:#FAF0E6;
}
.style{
	color: #451200;
	font-family: "Times New Roman", Courier, monospace;
}

footer{
	background: #51645E;
	font-family: "Times New Roman", "Lucida Grande", Sans-Serif;
	text-align: center;
	
	
}
.footer-size{
    height: 100px;
}



@media screen and (min-width: 960px) {
	
	header{
		font-size: 30px;
		height: 150px;
	}
	header div {
		line-height: 7;
	}
	table{
		font-size: 20px;
	}
}


